@font-face {
  font-family: 'alegreya';
  font-weight: regular;
  src: url('./assets/fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf')
}

@font-face {
  font-family: 'alegreya';
  font-weight: bold;
  src: url('./assets/fonts/Alegreya_Sans/AlegreyaSans-Bold.ttf')
}

@font-face {
  font-family: 'alegreya';
  font-weight: light;
  src: url('./assets/fonts/Alegreya_Sans/AlegreyaSans-Light.ttf')
}
